<div class="card grid ">
    <div class="col-12 lg:col-6 xl:col-4">
            <div class="card m-3 border-1 surface-border">
                <div class="flex align-items-center justify-content-between">
                    <div class="flex align-items-center">
                        <i class="pi pi-tag mr-2"></i>
                        <span class="font-semibold">{{book.category}}</span>
                    </div>
                    <span [class]="'sm:ml-2 book-badge status-' + book.inventoryStatus?.toLowerCase()">{{book.inventoryStatus}}</span>
                </div>
                <div class="text-center">
                    <img src="{{book.image}}" (error) ="changeSource($event)"  [alt]="book.name" class=" shadow-2 my-3 mx-0" width="150" height="250"/>
                    <div class="text-2xl font-bold">{{book.name}}</div>
                    <div class="mb-3" *ngIf="book.description == ''">
                        <br>
                    </div>
                    
                    <p-rating class="p-1" [ngModel]="book.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <span class="text-2xl font-semibold">${{book.price}}</span>
                    <div>
                    <p-button class="m-2" icon="pi pi-shopping-cart" (click)="addBookToCart(this.book.id)" [disabled]="book.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    <button icon="pi pi-heart" (click)="addBookToWish(this.book.id)"  pButton type="button" class="p-button-danger"></button>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-8 scalein animation-delay-50 animation-duration-500">
        <div class="grid">
            <div class="col-12">
                <div class="pt-4">
                    <h4>Description</h4>
                    <div class="p-2 justify-content-between">
                    {{book.description}} 
                    <a *ngIf="book.description != null" href="#">Read more...</a>
                    </div>
                </div>
            <hr>
            </div>
            <div class="col-6">
                <h4>Author</h4>
                <p class="text-500 hover:text-700 font-bold m-2 flex">{{author.name}}</p>
            </div>
            <div class="col-6">
                <h4>Publisher</h4>
                <p class="text-500 hover:text-700 font-bold m-2 flex">{{publisher.name}}</p>
            </div>
        </div>
    </div>
      <div class="p-2" *ngIf="recommended.length >0">
        <h5>Recommended</h5>
      </div>
            <div class="col-12 lg:col-12 xl:col-12 text-center " *ngIf="recommended.length >0">
                <p-carousel [value]="recommended" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
                    <ng-template let-book pTemplate="item">
                        <div class="book-item">
                            <div class="book-item-content ">
                                <div class="mb-3">
                                    <img src="{{book.image}}" [alt]="book.name" class="book-image" (click)="bookDetail(book.id)" height="150px"/>
                                </div>
                                <div class="p-2">
                                    <h4 class="text-base mb-1 hover:text-primary-500" (click)="bookDetail(book.id)">{{ book.name | slice:0:27 }}{{ book.name.length > 27 ? '...' : '' }}</h4>
                                    <h6 class="mt-0 mb-3 font-bold">${{book.price}}</h6>
                                    <span [class]="'book-badge status-'+book.inventoryStatus.toLowerCase()">{{book.inventoryStatus}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
    <div class="col-12 lg:col-6 xl:col-8">
        <div class="flex justify-content-between align-items-center mb-5">
            <h5>Comments</h5>
        </div>
        <div *ngIf="comments != null">
            <ul class="list-none p-2 m-0 scalein animation-delay-50 animation-duration-500" *ngFor="let comment of comments" >
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-900 font-medium mb-3 text-xl hover:text-primary-400">{{comment.name}}</span>
                            <div *ngIf="comment.content.length < 100" class="mt-1 white-space-normal"><i>{{comment.content}}</i></div>
                            <textarea *ngIf="comment.content.length > 100" disabled id="content" cols="120" rows="4" maxlength="600" pInputTextarea [value]="comment.content" pInputText class="w-full white-space-normal"></textarea>
                        </div>
                            <button (click)="deleteComment(this.comment.id)" *ngIf="comment.username == username" pButton pRipple type="button" icon="pi pi-trash"  class="text-xl p-button-danger p-button-rounded"></button>   

                    </div>
                    <div class="mt-1 font-medium text-right"><i>{{comment.username}}</i></div>
                    <div class="mt-1 text-right text-500">{{comment.dateCreated | date: 'HH:mm'}}</div>
                    <div class="mt-1 font-medium text-500 text-right "><i>{{comment.dateCreated | date: 'dd-MMM-YY'}}</i></div>
            </div>
        </ul>
        </div>
    </div>  
    <div class="col-12 lg:col-6 xl:col-8">
    
    <div class="pb-5">
        <span class="p-float-label">
            <input id="title" [(ngModel)]="this.commentSent.name" pInputText class="w-full">
            <label for="title">Title</label>
        </span>
    </div>
    <span class="p-float-label">
        <textarea id="content" maxlength="600"pInputTextarea [(ngModel)]="this.commentSent.content" pInputText class="w-full"></textarea>
        <label for="content">Content</label>
    </span>
   
      <div class="text-right">
        <button pButton pRipple icon="pi pi-check" class="green-300 hover:green-900 p-button-rounded p-button-success mr-2" (click)="comment()"></button>
        <button pButton pRipple icon="pi pi-times" class="red-300 hover:red-900 p-button-rounded p-button-warning"></button>
      </div>
    </div>
</div>
